<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedireccionesEditador</servlet-name>
        <servlet-class>Servlet.Redireccionar.RedireccionesEditador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPerfil</servlet-name>
        <servlet-class>Servlet.Redireccionar.ActualizarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedireccionesSuscriptor</servlet-name>
        <servlet-class>Servlet.Redireccionar.RedireccionesSuscriptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreacionRevista</servlet-name>
        <servlet-class>Servlet.CreacionRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarPublicacion</servlet-name>
        <servlet-class>Servlet.SolicitarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>Servlet.pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suscribirse</servlet-name>
        <servlet-class>Servlet.Suscribirse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedireccionesEditador</servlet-name>
        <url-pattern>/RedireccionesEditador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPerfil</servlet-name>
        <url-pattern>/ActualizarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedireccionesSuscriptor</servlet-name>
        <url-pattern>/RedireccionesSuscriptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionRevista</servlet-name>
        <url-pattern>/CreacionRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarPublicacion</servlet-name>
        <url-pattern>/solicitarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suscribirse</servlet-name>
        <url-pattern>/Suscribirse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
